@import "../../styles/variables.css";
.main {
  display: flex;
  max-width: 1440px;
  height: 100vh;
  background: var(--color-white);
}

.bar {
  height: calc(100vh - 16px);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.panel {
  width: 100%;
  height: 100vh;
  display: none;
}

.main.openbar{
  background: var(--bar-background);
}

.panel.openbar {
  display: flex;
}  

.form{
  background: var(--form-background);

}.form.openbar{
  margin-left: 36px;
  border-radius: 24px 0 0 24px;
}