@import "../../../styles/variables.css";

:root{
  --width: var(--barControl-width);
  --height: var(--barControl-height);
  --padding-sizeM :8px;
  --padding-sizel :10px;
  --padding-sizeX :16px;  
}

.box{
  display: flex;
  position: relative;
  align-items:center;
  width: var(--width);
  height: var(--height);
}

.selbox{
  height: var(--height);
  min-width: var(--width);
  max-width: var(--width);
  background-color:var(--color-grey);
  border-radius: 16px;
}

.selbox.flow{
  background-color:var(--color-white);
  opacity: 0.1;
}

.control {
  display: flex;
  align-items:center;
  position: absolute;
  left: 0px;
  height: var(--height);
  min-width: var(--width);
  max-width: var(--width);

  padding-left: var(--padding-sizeX);
  font-family: var(--font-family); 
  font-size: var(--font-size-control); 
  font-style: normal;

  background-color:transparent;
  border: none;
  border-radius: 16px;
    
}
.control.flow {
  color: var(--color-white);
}

.control.flow::placeholder {
  color: var(--color-white);
  opacity: 0.50;
}
.close {
  display: none;
}

.close.flow {
  display: block;
  position: absolute;
  right: var(--padding-sizeM);
  cursor: pointer;
}

.icon {
  width: var(--width-MiniIcon);
  height: var(--height-MiniIcon);
}