@import "../../../styles/variables.css";

:root{
  --width: var(--barControl-width);
  --height: var(--barControl-height);
  --padding-sizeM :8px;  
  --padding-size :16px;  
  
}

.box{
  display: flex;
  position: relative;
  align-items:center;
  min-width: calc(var(--width) - var(--padding-size));
  max-width: calc(var(--width) - var(--padding-size));
  height: var(--height);
  padding-left: var(--padding-size); 
  cursor: pointer;
}


.txt{
  flex-grow: 1;
  font-family: inherit;
  font-size: var(--font-size-control-title);
  font-style: inherit;
  padding-left: var(--padding-sizeM);
  text-align: left;
}

.txt.flow{
  color: var(--color-white);
}

.txt::selection{
  background: transparent;
}  

.imgflag{
  display: none;
}

.imgflag.flag{
  display: block;
  width: 12px;
  margin-right: var(--padding-sizeM);
}

.imgflag::selection{
  background: transparent;
}

.imgfolder::selection{
  background: transparent;
}

.selbox{
  display: none;
}
.selbox.active{
  display: block;
  position: absolute;
  left: 0;
  opacity: 0.10; 
  min-width: var(--width);
  height: var(--height);
  border-radius: 8px;
  background: var(--color-white);
}

