@import "./styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


:root {
  font-family: 'Roboto',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}